@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=DM+Sans:wght@400;500;700&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

#header-logo {
  font-size: 48px;
  text-decoration-line: none;
  color: #000;
  font-weight: 900;
  font-family: 'Oleo Script', cursive;
}

.letrasLogo {
  font-family: 'Oleo Script', cursive;
}

.Toastify__toast {
  text-align: center !important;
}